ETSY_API_KEY=your_keystring
ETSY_SHARED_SECRET=your_shared_secret

ETSY_REDIRECT_URI=http://localhost:3003/oauth/callback
ETSY_SCOPES=shops_r listings_r listings_w

POSTER_KEYWORDS=poster,wall art,nursery,print

DIGITAL_PRICE=4.49
DIGITAL_FILES_DIR=./digital
DIGITAL_TITLE_SUFFIX= | Printable Wall Art | Digital Download
